<div id="tabs">
  <%= link_to 'Designs', @episode, :class => 'item' %>
  <%= link_to 'Scenes', episode_scenes_path(@episode), :class => 'item active' %>
  <%= link_to 'Download', episode_download_path(@episode), :class => 'download' %>
</div>


<% assets = [] %>
<% @scenes.includes(:assets).each_with_index do |scene, index| %>
  <% if scene.assets.length > 0 %>
    <% scene.assets.each do |asset| %>
      <% assets << asset %>
    <% end %>
  <% end %>
<% end %>
<%= render :partial => 'shared/layout', :locals => { :layout => params['layout'] } %>
<%= render :partial => 'shared/assets', :locals => { :assets => assets } %>


<% if false and can? :create, Scene %>
<h3 class="result-headers result-new clearfix"><span class="actions"><%= link_to 'New scene', new_episode_scene_path(@episode) %></span></h3>
<% end %>
