<%= link_to '&larr; All scenes'.html_safe, episode_path(@episode) %>

<h2>Assets for <%= @episode.title %> Scene <%= @scene.number %></h2>
<% if @scene.assets.length > 0 %>
<%= render :partial => 'shared/layout', :locals => { :layout => params['layout'] } %>
<%= render :partial => 'shared/assets', :locals => { :assets => @scene.assets } %>
<% else %>
<p>No assets yet.</p>
<% end %>
