
<table class="users">

  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Sign ins</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td class="name"><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.sign_in_count %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>

<%= link_to 'New User', new_user_path %>
