<div id="asset-<%= asset.id %>" class="asset <%= asset.status %><% if asset.submitted %> submitted<% end %><% if asset.approved %> approved-denny<% end %><% if asset.revision %> revision<% end %>" draggable="true">
  <div title="<%= asset.title %>" class="title"><%= asset.title %></div>
  <% if reel %>
    <% if reel.assets.map {|asset| asset[:id] }.include?(asset.id) %>
    <%= link_to 'Remove from Reel', reel_asset_path(reel, asset), method: :delete, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel remove' %>
    <% else %>
    <%= link_to 'Add to Reel', reel_asset_path(reel, asset), method: :post, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel add' %>
    <% end %>
  <% end %>

  <div class="asset-workflow row">
    <% if asset.checked_out? %>
    <div class="checkout asset-state">out</div>
    <% else %>
    <div class="checkin asset-state">
      <a href="#download-asset">Download Asset</a>
    </div>
    <% end %>
    <% if asset.user %>
    <p class="assigned-to"><%= asset.user.name %></p>
    <% end %>
  </div>

  <div class="extended"></div>

  <%
  look_title = ''
  if asset.submitted
    look_title = 'Submitted for Approval'
  elsif asset.approved
    look_title = 'Approved by Denny'
  elsif asset.revision
    look_title = 'New Revision'
  end
  %>
  <div class="look-at-me" title="<%= look_title %>"></div>

</div>
