<div id="asset-<%= asset.id %>" class="asset <%= asset.status %><% if asset.submitted %> submitted<% end %><% if asset.approved %> approved-denny<% end %><% if asset.revision %> revision<% end %>" draggable="true">
  <div title="<%= asset.title %>" class="title"><%= asset.title %></div>
  <% if reel && can?(:update, Reel) %>
    <% if reel.assets.map {|asset| asset[:id] }.include?(asset.id) %>
    <%= link_to 'Remove from Reel', reel_asset_path(reel, asset), method: :delete, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel remove', :title => "Remove from Reel" %>
    <% else %>
    <%= link_to 'Add to Reel', reel_asset_path(reel, asset), method: :post, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel add', :title => "Add to Reel" %>
    <% end %>
  <% end %>

  <% if asset.preview? %>
  <%= image_tag asset.preview_url(:thumb).to_s, :class => 'default preview', :draggable => 'false' %>
  <% elsif is_image asset.asset %>
  <%= image_tag asset.asset_url(:thumb).to_s, :class => 'default preview', :draggable => 'false' %>
  <% elsif is_movie asset.asset %>
  <video id="video-preview-<%= asset.id %>" class="video-js vjs-default-skin preview" width="188" height="106" data-setup='{ "preload": "auto" }' preload="auto">
    <source src="<%= asset.asset_url %>" type="video/mp4">
  </video>
  <% else %>
  <%= image_tag '/assets/placeholders/' + clean_extension(asset.asset) + '.png', :class => 'default preview', :draggable => 'false' %>
  <% end %>

  <div class="asset-workflow row">
  <% if can? :update, Asset %>
    <% if asset.checked_out? %>
    <div class="checkout asset-state" title="Checked Out">out</div>
    <% else %>
    <div class="checkin asset-state">
      <a href="#download-asset" title="Download Asset">Download Asset</a>
    </div>
    <% end %>
    <% if asset.user %>
    <p class="assigned-to" title="Assigned To"><%= asset.user.name %></p>
    <% end %>
  <% elsif %>
    <div class="checkin asset-state">
      <%= link_to 'Download Asset', asset_download_path(asset), :title => 'Download Asset' %>
    </div>
  <% end %>
  </div>

  <div class="extended">
    <div title="<%= asset.title %>" class="title"><%= asset.title %></div>
    <div class="tab-tile">

      <%# Download section %>
      <div class="tile">
        <nav class="downloads">
          <%= link_to 'Download', asset_download_path(asset), :class => 'button' %>
          <% if can? :update, Asset %>
          <%= link_to 'Checkout', asset_checkout_path(asset), :class => 'button' %>
          <%= link_to 'Download & Checkout', asset_checkout_path(asset, :download => true), :class => 'button' %>
          <% end %>
        </nav>
      </div> 

      <%# Versions section %>
      <div class="tile">
        <h3>Updates</h3>
        <ul class="detail-list">
          <% asset.versions.reverse.each do |version| %>
          <% 
             # Carrierwave instantiates Uploader with a timestamp as part of the class name.
             # Papertrail can't deal with that, so manually remove the timestamp before reify.
             version.object = version.object.to_s.gsub(/AssetUploader::Uploader([0-9]+)/, '') 
          %>
          <% old_asset = version.reify rescue nil %>
          <li class="row">
            <p class="summary <%= old_asset == nil ? '' : old_asset.status %>">
              By
              <%= version.whodunnit? ? User.find(version.whodunnit).name : '-' %> 
              on 
              <span class="time-placement"><%= time_ago_in_words(version.created_at) %> ago</span>
            </p>

            <div class="asset-workflow row">
            <% if old_asset %>
              <% if old_asset.asset != nil %>
              <div class="checkin asset-state">
                <% # Sometimes assets are loaded with the path twice, clean it up %>
                <a href="<%= old_asset.asset_url.gsub(/http(.*)http/, 'http') %>">Download Asset</a>
              </div>
              <% end %>
              <% if old_asset.checked_out == true %>
              <div class="checkout asset-state">out</div>
              <% end %>              
              <% if old_asset.user %>
              <p class="assigned-to"><%= old_asset.user.name %></p>
              <% end %>
            <% else %>
              <div>-</div>
            <% end %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>

      <%# Asset details section %>
      <div class="tile">
        <% if can? :update, Asset %>
        <a href="<%= asset_path asset %>/edit" class="button">Edit Asset</a>
        <% end %>
        <dl>
          <% if asset.episode %>
          <dt>Episode:</dt>
          <dd><%= link_to asset.episode.title, asset.episode %></dd>
          <% end %>

          <% if asset.scene.length > 0 %>
          <dt>Scenes:</dt>
          <dd>
            <% asset.scene.each do |scene| %>
              <%= link_to scene.number.to_s + (scene.part || ''), episode_scene_path(asset.episode, scene) %>
            <% end %>
          </dd>
          <% end %>
          <% if asset.name.length > 0 %>
          <dt>Object Name:</dt>
          <dd>
            <% asset.name.each do |keyword| %>
              <%= link_to keyword.name, keyword_assets_path(keyword.name) %>
            <% end %>
          </dd>
          <% end %>
          <% if asset.keywords.length > 0 %>
          <dt>Keywords:</dt>
          <dd>
            <% asset.keywords.each do |keyword| %>
              <%= link_to keyword.name, keyword_assets_path(keyword.name) %>
            <% end %>
          </dd>
          <% end %>
          <% if asset.description? %>
          <dt>Description:</dt>
          <dd><%= asset.description %></dd>
          <% end %>
          <% if asset.scene.length <= 0 && asset.name.length <= 0 && asset.keywords.length <= 0 && !asset.description? %>
           <p>No extra information.</p>
          <% end %>
        </dl>
      </div>

      <%# Video section%>
      <% if previewable(asset.preview) || previewable(asset.preview_swf) || is_movie(asset.asset) %>
      <div class="tile media">
        <% if asset.preview_swf? %>
        <div data-flash-url="<%= asset.preview_swf %>"></div>
        <% elsif is_movie(asset.asset) %>
        <video id="video-asset-<%= asset.id %>" class="video-js vjs-default-skin" width="100%" height="100%" data-setup='{ "preload": "none", "controls": "true" }' preload="none">
          <source src="<%= asset.asset_url %>" type="video/mp4">
        </video>
        <% elsif is_image(asset.preview) %>
        <div class="detail" data-image-url="<%= asset.preview_url %>"></div>
        <% else %>
        <% image_tag '/assets/placeholders/' + clean_extension(asset.send(preview)) + '.png', :class => 'default', :draggable => 'false' %>
        <% end %> 
      </div>
      <% end %>
    </div>   

    <nav class="row asset-utilities">
      <ul>
        <li><a href="#download" title="Download or Checkout">Download</a></li>
        <li><a href="#versions" title="Versions">Versions</a></li>
        <li><a href="#details" title="Details">Details</a></li>
        <% if previewable(asset.preview) || previewable(asset.preview_swf) || is_movie(asset.asset) %>
        <li><a href="#video" title="Preview">Preview</a></li>
        <% end %>
      </ul>
    </nav>

    <% if can? :update, Asset %>
      <div class="inline-autocomplete">
        <%= form_for asset do |f| %>
          <%= f.autocomplete_field :keyword_list, autocomplete_tag_keywords_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Keyword List', :title => 'Add Keywords' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%
  look_title = ''
  if asset.submitted
    look_title = 'Submitted for Approval'
  elsif asset.approved
    look_title = 'Approved by Denny'
  elsif asset.revision
    look_title = 'New Revision'
  end
  %>
  <div class="look-at-me" title="<%= look_title %>"></div>
</div>
