<div class="asset" draggable="true">
  <% if reel %>
    <% if reel.assets.map {|asset| asset[:id] }.include?(asset.id) %>
    <%= link_to 'Remove from Reel', reel_asset_path(reel, asset), method: :delete, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel remove' %>
    <% else %>
    <%= link_to 'Add to Reel', reel_asset_path(reel, asset), method: :post, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel add' %>
    <% end %>
  <% end %>
  <a href="<%= asset_path asset %>" class="title"><%= asset.title %></a>
  <% if is_image asset.asset %>
  <%= image_tag asset.asset_url(:thumb).to_s, :class => 'default', :draggable => 'false' %>
  <% else %>
  
  <% end %>
  <div class="extended">
    <div class="title"><%= asset.title %></div>
    <div class="tab-tile">

      <div class="tile">
        <p>download link here</p>
      </div> 

      <%# Versions section %>
      <div class="tile">
        <table>
          <caption>Versions</caption>
          <thead>
            <tr>
              <th>Who</th>
              <th>What</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
          <% asset.versions.reverse.each do |version| %>
            <tr>
              <td><%= User.find(version.whodunnit).name %></td>
              <td><%= version.event.titleize %></td>
              <td><%= time_ago_in_words(version.created_at) %> ago</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <%# Asset details section %>
      <div class="tile">
        <a href="<%= asset_path asset %>/edit" class="button">Edit Asset</a>
        <dl>
          <dt>Season:</dt>
          <dd><a href="">tmp: Season value</a></dd>
          <dt>Episode:</dt>
          <dd><a href=""><%= Episode.joins(:scenes => :assets).where('assets.id = ' + asset.id.to_s).inspect %></a></dd>
          <dt>Scene:</dt>
          <dd><a href=""><%= asset.scene %></a></dd>
          <dt>Keywords:</dt>
          <dd class="row">
            <% asset.keyword_list.each do |keyword| %>
              <%= link_to keyword, keyword_assets_path(keyword) %>
            <% end %>
          </dd>
          <dt>Description:</dt>
          <dd class="row"><%= asset.description %></dd>
        </dl> 
      </div>

      <%# Video section%>
      <div class="tile">
        <video src="http://globalmechanic.com/asset/movies/<%# asset.video %>" controls="controls" preload="none"></video>
      </div>

      <%# Download section %>
    </div>    

    <nav class="row asset-utilities">
      <ul>
        <li><a href="#download">o</a></li>
        <li><a href="#versions">t</a></li>
        <li><a href="#details">t</a></li>
        <li><a href="#video">f</a></li>
      </ul>
    </nav>

    <%= form_tag do %>
      <%= text_field_tag :keyword_list, nil, :placeholder => 'tmp: Add keywords' %>
    <% end %>
  </div>
</div>
