<div id="asset-<%= asset.id %>" class="asset" draggable="true">
  <% if reel %>
    <% if reel.assets.map {|asset| asset[:id] }.include?(asset.id) %>
    <%= link_to 'Remove from Reel', reel_asset_path(reel, asset), method: :delete, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel remove' %>
    <% else %>
    <%= link_to 'Add to Reel', reel_asset_path(reel, asset), method: :post, :draggable => false, :id => 'asset-' + asset.id.to_s, :class => 'reel add' %>
    <% end %>
  <% end %>
  <div class="title"><%= asset.title %></div>
  <% if is_image asset.asset %>
  <%= image_tag asset.asset_url(:thumb).to_s, :class => 'default', :draggable => 'false' %>
  <% elsif is_movie asset.asset %>
  <video class="default" preload="metadata" src="<%= asset.asset_url %>"></video>
  <% else %>
  <% extension = File.extname(asset.asset.to_s).downcase
    extension = extension[1..-1] if extension[0,1] == '.'
  %>
  <%= image_tag '/assets/' + extension + '.png', :class => 'default', :draggable => 'false' %>
  <% end %>
  <div class="extended">
    <div class="title"><%= asset.title %></div>
    <div class="tab-tile">

      <%# Download section %>
      <div class="tile">
       <p class="downloads">
          <%= link_to 'Download Asset', asset.asset_url, :class => 'button' %>
        </p>
      </div> 

      <%# Versions section %>
      <div class="tile">
        <table>
          <caption>Versions</caption>
          <thead>
            <tr>
              <th>Who</th>
              <th>What</th>
              <th>When</th>
            </tr>
          </thead>
          <tbody>
          <% asset.versions.reverse.each do |version| %>
            <tr>
              <td><%= User.find(version.whodunnit).name %></td>
              <td><%= version.event.titleize %></td>
              <td><%= time_ago_in_words(version.created_at) %> ago</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>

      <%# Asset details section %>
      <div class="tile">
        <a href="<%= asset_path asset %>/edit" class="button">Edit Asset</a>
        <dl>
          <dt>Episodes:</dt>
          <dd>
            <% Episode.joins(:scenes).where(:scenes => { :id => asset.scene.map {|item| item.id} }).uniq.order("episodes.number ASC").each do |episode| %>
              <%= link_to episode.title, episode %>
            <% end %>
          </dd>
          <dt>Keywords:</dt>
          <dd>
            <% asset.keyword_list.each do |keyword| %>
              <%= link_to keyword, keyword_assets_path(keyword) %>
            <% end %>
          </dd>
          <dt>Description:</dt>
          <dd><%= asset.description %></dd>
        </dl> 
      </div>

      <%# Video section%>
      <div class="tile">
        <% if is_image(asset.asset) %>
        <div data-image-url="<%= asset.asset_url %>"></div>
        <% elsif is_movie(asset.asset) %>
        <video src="<%= asset.asset_url %>" controls="controls" preload="metadata"></video>
        <% else %>
        <% extension = File.extname(asset.asset.to_s).downcase
          extension = extension[1..-1] if extension[0,1] == '.'
        %>
        <%= image_tag '/assets/' + extension + '.png', :class => 'default', :draggable => 'false' %>
        <% end %>
      </div>
    </div>    

    <nav class="row asset-utilities">
      <ul>
        <li><a href="#download">Download</a></li>
        <li><a href="#versions">Versions</a></li>
        <li><a href="#details">Details</a></li>
        <li><a href="#video">Video</a></li>
      </ul>
    </nav>

    <%# not working %>
    <%= form_for asset do |f| %>
      <%= f.autocomplete_field :keyword_list, autocomplete_tag_name_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Keyword List' %>
    <% end %>
  </div>
</div>
