<h2>Designs - <%= @episode.number.pad %> - <%= @episode.title %> (<%= @episode.assets.length %>)</h2>

<div id="tabs">
  <%= link_to 'Designs', @episode, :class => 'item active' %>
  <%= link_to 'Scenes', episode_scenes_path(@episode), :class => 'item' %>
</div>

<%= render :partial => 'shared/layout', :locals => { :layout => params['layout'] } %>
<%= render :partial => 'shared/assets', :locals => { :assets => @episode.assets.joins('LEFT OUTER JOIN "assets_scenes" ON "assets_scenes"."asset_id" = "assets"."id" LEFT OUTER JOIN "scenes" ON "scenes"."id" = "assets_scenes"."scene_id"').where(:assets_scenes => { :scene_id => nil }).order('created_at DESC') } %>
