<div title="<%= @asset.title %>" class="title"><%= @asset.title %></div>
<div class="tab-tile">

  <%# Download section %>
  <div class="tile">
    <nav class="downloads">
      <%= link_to 'Download', asset_download_path(@asset), :class => 'button' %>
      <% if can? :update, Asset %>
      <%= link_to 'Checkout', asset_checkout_path(@asset), :class => 'button' %>
      <%= link_to 'Download & Checkout', asset_checkout_path(@asset, :download => true), :class => 'button' %>
      <% end %>
    </nav>
  </div> 

  <%# Versions section %>
  <div class="tile">
    <h3>Updates</h3>
    <ul class="detail-list">
      <% @asset.versions.reverse.each do |version| %>
      <% 
         # Carrierwave instantiates Uploader with a timestamp as part of the class name.
         # Papertrail can't deal with that, so manually remove the timestamp before reify.
         version.object = version.object.to_s.gsub(/AssetUploader::Uploader([0-9]+)/, '') 
      %>
      <% old_asset = version.reify rescue nil %>
      <li class="row">
        <p class="summary <%= old_asset == nil ? '' : old_asset.status %>">
          By
          <%= version.whodunnit? ? User.find(version.whodunnit).name : '-' %> 
          on 
          <span class="time-placement"><%= time_ago_in_words(version.created_at) %> ago</span>
        </p>

        <div class="asset-workflow row">
        <% if old_asset %>
          <% if old_asset.asset != nil %>
          <div class="checkin asset-state">
            <% # Sometimes assets are loaded with the path twice, clean it up %>
            <a href="<%= old_asset.asset_url.to_s.gsub(/http(.*)http/, 'http') %>">Download Asset</a>
          </div>
          <% end %>
          <% if old_asset.checked_out == true %>
          <div class="checkout asset-state">out</div>
          <% end %>              
          <% if old_asset.user %>
          <p class="assigned-to"><%= old_asset.user.name %></p>
          <% end %>
        <% else %>
          <div>-</div>
        <% end %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>

  <%# Asset details section %>
  <div class="tile edit">
    <div class="tile-columns">
      <div class="row first clearfix">
        <div class="column">
          <%= link_to 'Download', asset_download_path(@asset), :class => 'button' %>
          <% if can? :update, Asset %>
          <%= link_to raw('Download &amp; Checkout'), asset_checkout_path(@asset, :download => true), :class => 'button' %>
          <% end %>
        </div>
        <div class="column">
          <form data-asset-id="<%= @asset.id %>" data-asset-type="asset" data-asset-version="<%= @asset.versions.length %>" action="https://<%= ENV['S3_BUCKET_NAME'] %>.s3.amazonaws.com" method="post" multipart="true" class="direct-upload">
            <%= hidden_field_tag(:key) %>
            <%= hidden_field_tag("AWSAccessKeyId", ENV['S3_KEY']) %>
            <%= hidden_field_tag(:acl, 'public-read') %>
            <%= hidden_field_tag(:policy) %>
            <%= hidden_field_tag(:signature) %>
            <%= hidden_field_tag(:success_action_status, "201") %>
            <%= label_tag(:file, "Upload File") %>
            <%= file_field_tag(:file) %>
            <div class="progress progress-striped"><div class="bar" style="width: 0%;"></div></div>
          </form>
          <form data-asset-id="<%= @asset.id %>" data-asset-type="preview_swf" data-asset-version="<%= @asset.versions.length %>" action="https://<%= ENV['S3_BUCKET_NAME'] %>.s3.amazonaws.com" method="post" multipart="true" class="direct-upload">
            <%= hidden_field_tag(:key) %>
            <%= hidden_field_tag("AWSAccessKeyId", ENV['S3_KEY']) %>
            <%= hidden_field_tag(:acl, 'public-read') %>
            <%= hidden_field_tag(:policy) %>
            <%= hidden_field_tag(:signature) %>
            <%= hidden_field_tag(:success_action_status, "201") %>
            <%= label_tag(:file, "Upload SWF Preview") %>
            <%= file_field_tag(:file) %>
            <div class="progress progress-striped"><div class="bar" style="width: 0%;"></div></div>
          </form>
          

          <!-- <label for="asset[preview]">Upload SWF Preview</label> -->
          <% # f.file_field :preview, multiple: true, name: "asset[preview]", value: "Upload Preview" %>

        </div>
        <div class="column">
          <a href="<%= asset_path @asset %>/edit" class="edit-button button">Edit Asset</a>
          <small>Downloads and uploads are ~<span class="internet-speed">1.14</span> seconds/MB based on your current internet connection.</small>
        </div>
      </div>
      <%= form_for @asset, :html => { :multipart => true, :class => 'asset-form' } do |f| %>
        <div class="row second clearfix">
          <div class="column">
            <label for="asset[status]">Stage</label>
            <div id="asset_swatch">
            <%= f.select :status, Asset::STATUS %>
            </div>
            <label for="asset[user_id]">Assigned To</label>
            <%= f.select :user_id, User.order('name').with_role(:animator).map {|x| [x.name, x.id]}, { :include_blank => '- Assigned to -' } %>
          </div>
          <div class="status">
            <label>Status</label>
            <div class="status-row">
              <div class="status-button"><%= f.check_box :submitted %><span class="status-label asset_submitted inline">Submitted for approval</span></div>
              <div class="status-button"><%= f.check_box :approved %><span class="status-label asset_approved inline">Denny Checked</span></div>
            </div>
            <div>
              <div class="status-button"><%= f.check_box :revision %><span class="status-label asset_revision inline">Needs Revision</span></div>
              <div class="status-button"><%= f.check_box :checked_out %><span class="status-label asset_checked_out inline">Checked out</span></div>
            </div>
          </div>
        </div>
        <div class="row last clearfix">
          <div class="column">
            <%= f.text_area :description, :placeholder => 'Notes', :rows => 2 %>
          </div>
          <div class="column">&nbsp;</div>
          <div class="column">
            <%= f.submit "Update" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# Video section%>
  <% if previewable(@asset.preview) || previewable(@asset.preview_swf) || is_movie(@asset.asset) %>
  <div class="tile media">
    <% if @asset.preview_swf? %>
    <div data-flash-url="<%= @asset.preview_swf %>"></div>
    <% elsif is_movie(@asset.asset) %>
    <video id="video-asset-<%= @asset.id %>" class="video-js vjs-default-skin" width="100%" height="100%" data-setup='{ "preload": "none", "controls": "true" }' preload="none" controls>
      <source src="<%= @asset.asset_url.to_s.gsub(/https/, 'http') %>" type="video/mp4">
    </video>
    <% elsif is_image(@asset.preview) %>
    <div class="detail" data-image-url="<%= @asset.preview_url %>"></div>
    <% else %>
    <% image_tag '/static/placeholders/' + clean_extension(@asset.preview_url) + '.png', :class => 'default', :draggable => 'false' %>
    <% end %> 
  </div>
  <% end %>
</div>

<nav class="row asset-utilities">
  <ul>
    <li><a href="#download" title="Download or Checkout">Download</a></li>
    <li><a href="#versions" title="Versions">Versions</a></li>
    <li class="edit"><a href="#details" title="Details">Details</a></li>
    <% if previewable(@asset.preview) || previewable(@asset.preview_swf) || is_movie(@asset.asset) %>
    <li><a href="#video" title="Preview">Preview</a></li>
    <% end %>
  </ul>
</nav>

<% if can? :update, Asset %>
  <div class="inline-autocomplete">
    <%= form_for @asset do |f| %>
      <%= f.autocomplete_field :keyword_list, autocomplete_tag_keywords_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Keyword List', :title => 'Add Keywords' %>
    <% end %>
  </div>
<% end %>
