<%= form_for @asset, :html => { :multipart => true } do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :asset_type, 'Type' %>
    <%= f.select :asset_type, Asset::TYPES, { :include_blank => true } %>
  </div>
  <div class="field">
    <%= f.label :keyword_list %>
    <%= f.text_field :keyword_list %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :asset %>
    <%= f.file_field :asset, multiple: true, name: "asset[asset]" %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
