<%= form_for @asset, :html => { :multipart => true } do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :title, :placeholder => 'Title' %>
  <%= f.text_area :description, :placeholder => 'Description', :rows => 4 %>
  <%= f.select :asset_type, Asset::TYPES %>
  <%= f.select :scene_ids, Scene.all.map {|x| [x.episode.number.pad + ' - ' + x.episode.title + ' - Scene ' + x.number.pad, x.id]}, {}, :multiple => true %>
  <%= f.autocomplete_field :keyword_list, autocomplete_tag_name_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Keyword List' %>
  
  <div class="field">
    <%= f.label :asset %>
    <%= f.file_field :asset, multiple: true, name: "asset[asset]" %>
  </div>
  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
