<%= form_for @asset, :html => { :multipart => true, :class => 'asset-form' } do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <label for="asset_asset">Add a new version</label>
    <%= f.file_field :asset, multiple: true, name: "asset[asset]" %>
  </div>

  <div class="row">
    <label for="asset_preview">Image preview</label>
    <%= image_tag @asset.preview_url(:thumb).to_s, :class => 'preview' if @asset.preview? %>
    <%= f.file_field :preview, multiple: true, name: "asset[preview]" %>
  </div>

  <div class="row">
    <label for="asset_preview_swf">SWF preview</label>
    <% if @asset.preview_swf? %>
    <div data-flash-url="<%= @asset.preview_swf %>"></div>
    <% end %>
    <%= f.file_field :preview_swf, multiple: true, name: "asset[preview_swf]" %>
  </div>

  <%= f.select :asset_type, Asset::TYPES %>
  <% # f.select :scene_ids, Scene.all.map {|x| [x.episode.number.pad + ' - ' + x.episode.title + ' - Scene ' + x.number.pad, x.id]}, {}, :multiple => true %>
  <%= f.select :episode_id, Episode.order('number').all.map {|x| [x.number.pad + ' - ' + x.title, x.id]}, { :include_blank => true } %>
  <%= f.autocomplete_field :name_list, autocomplete_tag_name_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Name' %>
  <%= f.autocomplete_field :keyword_list, autocomplete_tag_keywords_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Keyword List' %>
  <%= f.check_box :stock %><%= f.label :stock, 'Stock animation', :class => 'inline' %>
  <%= f.text_area :description, :placeholder => 'Description', :rows => 4 %>
  
  <%# f.label :asset %>
  <%# f.file_field :asset, multiple: true, name: "asset[asset]" %>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', @asset, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
