<%= link_to '&larr; All Assets'.html_safe, assets_path %>
<h1><%= @asset.title %></h1>
<div class="row single-asset">
  <div class="asset open" draggable="true">
    <div class="title"><%= @asset.title %></div>
    
    <% if is_image (@asset.asset) %>
      <%= image_tag @asset.asset_url(:thumb).to_s, :class => 'default', :draggable => 'false' %>
    <% elsif is_movie @asset.asset %>
      <video class="default" src="<%= asset.asset_url %>"></video>
    <% else %>
      <% extension = File.extname(@asset.asset.to_s).downcase extension = extension[1..-1] if extension[0,1] == '.' %>
      <%= image_tag '/assets/' + extension + '.png', :class => 'default', :draggable => 'false' %>
    <% end %>

    <div class="extended">
      <div class="title"><%= @asset.title %></div>
      <div class="tab-tile">

        <%# Download section %>
        <div class="tile">
         <p class="downloads">
            <%= link_to 'Download Asset', @asset.asset_url, :class => 'button' %>
          </p>
        </div> 

        <%# Versions section %>
        <div class="tile">
          <table>
            <caption>Versions</caption>
            <thead>
              <tr>
                <th>Who</th>
                <th>What</th>
                <th>When</th>
              </tr>
            </thead>
            <tbody>
            <% @asset.versions.reverse.each do |version| %>
              <tr>
                <td><%= User.find(version.whodunnit).name %></td>
                <td><%= version.event.titleize %></td>
                <td><%= time_ago_in_words(version.created_at) %> ago</td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>

        <%# Asset details section %>
        <div class="tile">
          <%= link_to 'Edit Asset', edit_asset_path(@asset), :class => 'button' %>
          <dl>
            <dt>Episodes:</dt>
            <dd>
              <% Episode.joins(:scenes).where(:scenes => { :id => @asset.scene.map {|item| item.id} }).uniq.order("episodes.number ASC").each do |episode| %>
                <%= link_to episode.title, episode %>
              <% end %>
            </dd>
            <dt>Keywords:</dt>
            <dd>
              <% @asset.keyword_list.each do |keyword| %>
                <%= link_to keyword, keyword_assets_path(keyword) %>
              <% end %>
            </dd>
            <dt>Description:</dt>
            <dd><%= @asset.description %></dd>
          </dl> 
        </div>

        <%# Video section%>
        <div class="tile">
          <% if is_image(@asset.asset) %>
          <div><%= image_tag @asset.asset_url %></div>
          <% elsif is_movie(@asset.asset) %>
          <video src="<%= @asset.asset_url %>" controls="controls" preload="none"></video>
          <% else %>
          <% extension = File.extname(@asset.asset.to_s).downcase
            extension = extension[1..-1] if extension[0,1] == '.'
          %>
          <%= image_tag '/assets/' + extension + '.png', :class => 'default', :draggable => 'false' %>
          <% end %>
        </div>
      </div>  

      <nav class="row asset-utilities">
        <ul>
          <li><a href="#download">o</a></li>
          <li><a href="#versions">t</a></li>
          <li><a href="#details">t</a></li>
          <li><a href="#video">f</a></li>
        </ul>
      </nav>

      <% form_for @asset do |f| %>
        <%= f.autocomplete_field :keyword_list, autocomplete_tag_name_assets_path, :"data-delimiter" => ', ', :multiple => true, :placeholder => 'Keyword List' %>
      <% end %>
    </div>

  </div>
</div> 