<%= link_to '&larr; All Assets'.html_safe, assets_path %>
<h1><%= @asset.title %></h1>
<div class="row single-asset">
  <div class="asset" draggable="true">
    <div class="title"><%= @asset.title %></div>
    
    <% if is_image (@asset.asset) %>
      <%= image_tag @asset.asset_url(:thumb).to_s, :class => 'default', :draggable => 'false' %>
    <% elsif is_movie @asset.asset %>
      <video class="default" src="<%= @asset.asset_url %>"></video>
    <% else %>
      <%= image_tag '/static/placeholders/' + clean_extension(@asset.asset) + '.png', :class => 'default', :draggable => 'false' %>
    <% end %>

    <div class="extended"><%= render 'extended' %></div>

  </div>
</div> 
