<%= link_to 'Edit Asset', edit_asset_path(@asset) %>

<h1><%= @asset.title %></h1>

<% if is_image(@asset.asset) %>
<div><%= image_tag @asset.asset_url(:thumb).to_s %></div>
<% else %>
<div><video src="<%= @asset.asset_url %>"></video></div>
<% end %>

<div class="asset-single">
  <div class="meta">
    <div><strong>Title:</strong> <%= @asset.title %></div>
    <div><strong>Keywords:</strong>
      <% @asset.keyword_list.each do |keyword| %>
        <%= link_to keyword, keyword_assets_path(keyword) %>
      <% end %>
    </div>

    <div><strong>Type:</strong> <%= link_to @asset.asset_type, type_assets_path(@asset.asset_type) %></div>
    <div><strong>Description:</strong></div>
    <div><%= @asset.description %></div>
  </div>
  <div>
    <h2>Versions</h2>
    <table>
      <thead>
        <tr>
          <th>Who</th>
          <th>What</th>
          <th>When</th>
        </tr>
      </thead>
      <tbody>
      <% @asset.versions.reverse.each do |version| %>
        <tr>
          <td><%= User.find(version.whodunnit).name %></td>
          <td><%= version.event.titleize %></td>
          <td><%= time_ago_in_words(version.created_at) %> ago</td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
