<%= link_to 'Back to Assets', assets_path %>
<%= link_to 'Edit Asset', edit_asset_path(@asset) %>

<h1><%= @asset.title %></h1>

<% if is_image(@asset.asset) %>
<div><%= image_tag @asset.asset_url(:thumb).to_s %></div>
<% else %>
<div><video src="<%= @asset.asset_url %>"></video></div>
<% end %>

<div class="asset-single">
  <div class="meta">
    <div><strong>Title:</strong> <%= @asset.title %></div>
    <div><strong>Keywords:</strong> <%= @asset.keyword_list.join(', ') %></div>
    <div><strong>Techniques:</strong> <%= @asset.technique_list.join(', ') %></div>
    <div><strong>Description:</strong></div>
    <div><%= @asset.description %></div>
  </div>
  <div>
    <strong>Versions:</strong>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Action</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
      <% @asset.versions.reverse.each do |version| %>
        <tr>
          <td><%= version.id %></td>
          <td><%= version.event %></td>
          <td><%= version.created_at %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
