<% @reels.each do |reel| %>
<h3 class="result-headers"><%= link_to reel.title, open_reel_path(reel) %><% if can? :destroy, reel %>
<span class="actions"><%= link_to 'Destroy', reel, method: :delete, data: { confirm: 'Are you sure?' } %></span><% end %></h3>

<div class="reel-id assets slots row<%= ' list-view' if @layout == 'list' %>">
  <%= content_tag(:p, 'No assets yet.') unless reel.assets.length > 0 %> 
  
  <% reel.assets.each do |asset| %>

  <% unless @layout == 'list' %>
  <div class="slot">
    <div class="region"></div>
  </div>
  <% end %>

  <%= render :partial => 'shared/tile', :locals => { :reel => reel, :asset => asset } %> 
  <% end %>

</div>
<% end %>

<div class="pager">
  <%= paginate @reels, :window => 10 %>
</div>
