<div class="reel-presentation">
  <% if @reel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reel.errors.count, "error") %> prohibited this reel from being saved:</h2>
      <ul>
      <% @reel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= content_tag(:p, @reel.description) unless @reel.description.to_s == '' %>

  <% unless @reel.assets.length > 0 %>
  <%= content_tag(:p, 'No assets yet.') %>
  <% else %>
  <% @layout = 'grid' %>
  <%= render :partial => 'shared/assets', :locals => { :assets => @reel.assets } %>
  <% end %>
</div>
