<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? @title + ' - Asset Manager' : 'Asset Manager' %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>
  <script type="text/javascript">
    var gm = gm || {
      root_url: '/plum-landing/',
      controller: '<%= params[:controller] %>',
      action: '<%= params[:action] %>'
    };
    <% if current_user %>
    gm.current_reel_slug = '<%= current_user.current_reel_slug? ? current_user.current_reel_slug : 'null' %>';
    <% end %>
  </script>
  <%= javascript_include_tag "application" %>
  <%= airbrake_javascript_notifier %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= params[:controller].parameterize %> action-<%= params[:action].parameterize %>">
  <div class="container">
    <header class="top-bar">
    <% if user_signed_in? %>
    <nav class="row">
      <div class="row">
        <ul id="primary">
        <% if can? :manage, User %>
        <li><%= link_to 'Users', users_path %></li>
        <% end %>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li>
        </ul>
        <ul id="secondary">
        <li>
        <% if @current_reel && @current_reel.title? %>
          <%= link_to @current_reel.title, edit_reel_path(@current_reel), :class => 'reel-name' %> <%= link_to '×', close_reel_path(@current_reel) %>
        <% else %>
          <%= link_to 'Create my Reel', edit_reel_path(@current_reel), :id => 'create-reel', :class => (@current_reel.assets.length > 0 ? 'show' : '') %>
          <%= form_for @current_reel do |f| %>
            <%= link_to 'Download', download_reel_path(@current_reel), :class => 'button' %>
            <%= f.text_field :title, :placeholder => 'Reel name' %>
            <%= f.submit 'Save Reel' %>
          <% end %>
        <% end %>
        </li>
        </ul>
        <div class="drawer">
        <%= link_to 'Recent Reels', reels_path, :id => 'open-reel' %>
        <div class="reels eight columns">
          <div class="four columns alpha">
            <div class="title">Recently Created</div>
            <ul class="disc">
              <% if @reels_created.count > 0 %>
                <% @reels_created.each do |reel| %>
                  <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.created_at) %></li>
                <% end %>
              <% else %>
                <li>No reels yet</li>
              <% end %>
            </ul>
          </div>
          <div class="four columns omega">
            <div class="title">Recently Updated</div>
            <ul class="disc">
              <% if @reels_updated.count > 0 %>
                <% @reels_updated.each do |reel| %>
                  <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.updated_at) %></li>
                <% end %>
              <% else %>
                <li>No reels yet</li>
              <% end %>
            </ul>
          </div>
          <div class="eight columns beta"><%= link_to 'All Reels', reels_path, :class => 'button' %></div>
        </div>
        </div>
      </div>

      <div class="row utilities"> 
        <div class="filters" id="queue-link">
        <ul>
          <li><%= link_to 'Queue', queue_assets_path %></li>
        </ul>
        </div>
        <div class="filters" id="asset-filters">
        <ul>
          <li><a href="#filter-by-asset">Assets</a></li>
          <li><%= link_to 'All assets', assets_path, :class => (params[:controller] == 'assets' && params[:action] == 'index' ? 'active' : '') %></li>
          <% Asset::TYPES.each do |type| %>
          <li><%= link_to type[0],  type_assets_path(type[1]), :class => (params[:controller] == 'assets' && params[:action] == 'type' && params[:asset_type] == type[1] ? 'active' : '') %></li>
          <% end %>
        </ul>
        </div>

        <div class="filters" id="episode-filters">
        <ul>
          <li><a href="#filter-by-episode">Worlds</a></li>
          <li><%= link_to 'All Worlds', episodes_path %></li>
          <% Episode::WORLD.each do |type| %>
            <% Episode.find_all_by_world(type[1], :order => 'number').each do |episode| %>
              <li><%= link_to "#{type[0]} #{episode.number.pad}", current_user && current_user.has_role?(:animator) ? episode_scenes_path(episode) : episode %></li>
            <% end %>
          <% end %>
        </ul>
        </div>

        <div id="asset-search">
          <%= form_for @search do |f| %>
            <% f.text_field :description_or_taggings_tag_name_contains, :placeholder => 'Search' %>
          <% end %>
        </div>

      </div>
    </nav>
  <% else %>
    <nav class="row logged-out">
      <h1>Asset Manager</h1>
    </nav>
  <% end %>
  </header>
  <%= content_tag :p, notice, :class => 'notice' if notice %>
  <%= content_tag :p, alert, :class => 'alert' if alert %>
  <%= content_tag :h2, @title if @title %>
  <%= yield %>
  </div>
  <% if can? :create, Asset %>
  <div id="upload-form">
    <div class="inner">
      <h3>New Assets</h3>
      <%= form_for Asset.new, :html => { :multipart => true, :class => 'asset-form' } do |f| %>
      <div class="row">
        <label for="asset_asset">Drag and drop or choose a new file</label>
        <%= f.file_field :asset, multiple: true, name: "asset[asset]" %>
      </div>
      <% end %>
      <div class="batch">
        <div class="asset-uploads">
          <h3>Assets</h3>
        </div>
        <div class="row">
          <%= submit_tag 'Done', :id => 'close-uploads' %>
        </div>
      </div>
    </div>
  </div>
  <script id="template-upload" type="text/x-tmpl">
  <div class="row">
    <header>
      <div class="title">
        <div>{%= o.name %}</div>
        <div class="progress progress-striped active"><div class="bar" style="width: 0%;"></div></div>
      </div>
    </header>
  </div>
  </script>
  <% end %>
</body>
</html>
