<!DOCTYPE html>
<html>
<head>
  <title>Asset Manager</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript">
    var gm = gm || {
      controller: '<%= params[:controller] %>',
      action: '<%= params[:action] %>'
    };
    <% if current_user %>
    gm.current_reel_slug = '<%= current_user.current_reel_slug? ? current_user.current_reel_slug : 'null' %>';
    <% end %>
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="controller-<%= params[:controller].parameterize %> action-<%= params[:action].parameterize %>">
  <div class="container">
    <% if user_signed_in? %>
    <header class="top-bar">
    <nav class="row">
      <div class="row" style="height: 50px; margin:0;">
      <ul id="primary">
        <!-- <li><%# link_to 'Episodes', episodes_path %></li> -->
        <% if can? :manage, User %>
        <li><%= link_to 'Users', users_path %></li>
        <% end %>
        <!-- <li><%= link_to "Edit #{current_user.name}", edit_user_registration_path %></li> -->
        <!-- <li><%= link_to 'Edit User', edit_user_path(current_user) %></li> -->
        <li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li>
      </ul>
      <ul id="secondary">
        <li>
        <% if @current_reel && @current_reel.title? %>
          Now viewing: <%= link_to @current_reel.title, edit_reel_path(@current_reel) %> <%= link_to '×', close_reel_path(@current_reel) %>
        <% else %>
          <%= link_to 'Create my Reel', edit_reel_path(@current_reel), :id => 'create-reel', :class => (@current_reel.assets.length > 0 ? 'show' : '') %>
          <%= form_for @current_reel do |f| %>
            <%= link_to 'tmp: Download', assets_path, :class => 'button' %>
            <%= f.text_field :title, :placeholder => 'Reel name' %>
            <%= f.submit 'Save Reel' %>
          <% end %>
        <% end %>
        </li>
      </ul>
      <div class="drawer">
        <%= link_to 'Recent Reels', reels_path, :id => 'open-reel' %>
        <div class="reels eight columns">
          <div class="four columns alpha">
            <div class="title">Recently Created</div>
            <ul class="disc">
              <% if @reels_created.count > 0 %>
                <% @reels_created.each do |reel| %>
                  <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.created_at) %></li>
                <% end %>
              <% else %>
                <li>No reels yet</li>
              <% end %>
            </ul>
            <p><%= link_to 'Reels', reels_path %></p>
          </div>
          <div class="four columns omega">
            <div class="title">Recently Updated</div>
            <ul class="disc">
              <% if @reels_created.count > 0 %>
                <% @reels_updated.each do |reel| %>
                  <li><%= link_to reel.title, open_reel_path(reel) %> <%= time_ago_in_words(reel.updated_at) %></li>
                <% end %>
              <% else %>
                <li>No reels yet</li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      </div>

      <div class="row utilities"> 
        <div id="asset-filters">
        <ul>
          <li><a href="#filter-by">Assets</a></li>
          <li><%= link_to 'All assets', assets_path, :class => (params[:controller] == 'assets' && params[:action] == 'index' ? 'active' : '') %></li>
          <% Asset::TYPES.each do |type| %>
          <li><%= link_to type[0],  type_assets_path(type[1]), :class => (params[:controller] == 'assets' && params[:action] == 'type' && params[:asset_type] == type[1] ? 'active' : '') %></li>
          <% end %>
        </ul>
        </div>

        <div id="asset-filters">
        <ul>
          <li><%= link_to 'Episodes', episodes_path %></li>
          <% Episode.all.each do |episode| %>
          <li><%= link_to episode.number.pad + ' - ' + episode.title, episode %></li>
          <% end %>
          <li></li>
        </ul>
        </div>
      </div>
    </nav>

    <% if false && @search && Asset.count > 0 %>
      <%= form_for @search do |f| %>
        <%= select_tag(:where, options_for_select([['All', 'all'], ['Title', 'title'], ['Director', 'director'], ['Client', 'client'], ['Technique', 'technique'], ['Tag', 'keyword'], ['Category', 'category']], params[:where])) %>
        <%= f.text_field :title_or_client_or_director_or_description_or_category_or_keywords_taggings_tag_name_contains, :class => 'facet' + (params[:where].blank? || params[:where] == 'all' ?  ' show' :  '') %>
        <%= f.text_field :title_contains, :class => 'facet' + (params[:where] == 'title' ?  ' show' :  '') %>
        <%= f.collection_select(:director_equals, Asset.all.map {|asset| asset[:director].titleize }.uniq.sort, :downcase, :to_s, {:include_blank => 'All Directors'}, { :class => 'facet' + (params[:where] == 'director' ?  ' show' :  '')  }) %>
        <%= f.collection_select(:category_equals, Asset.all.map {|asset| asset[:category].titleize }.uniq.sort, :downcase, :to_s, {:include_blank => 'All Categories'}, { :class => 'facet' + (params[:where] == 'category' ?  ' show' :  '') }) %>
        <%= f.collection_select(:client_equals, Asset.all.map(&:client).uniq.reject!(&:blank?).map{|client| client.titleize }.sort, :downcase, :to_s, {:include_blank => 'All Clients'}, {:class => 'facet' + (params[:where] == 'client' ?  ' show' :  '') }) %>
        <%= f.collection_select(:techniques_taggings_tag_name_contains, Asset.technique_counts.map(&:name).map{|tag| tag.titleize }.uniq.sort, :to_s, :to_s, {:include_blank => 'All Techniques'}, {:class => 'facet' + (params[:where] == 'technique' ?  ' show' :  '') }) %>
        <%= f.collection_select(:keywords_taggings_tag_name_contains, Asset.keyword_counts.map(&:name).map{|tag| tag.titleize }.uniq.sort, :to_s, :to_s, {:include_blank => 'All Keywords'}, {:class => 'facet' + (params[:where] == 'keyword' ?  ' show' :  '') }) %>
        <%= f.submit 'Search' %>
      <% end %>
    <% end %>
  </header>
    <% end %>
    <%= content_tag :p, notice, :class => 'notice' if notice %>
    <%= content_tag :p, alert, :class => 'alert' if alert %>
    <%= content_tag :h2, @title if @title %>
    <%= yield %>
  </div>
  <div id="upload-form">
    <div class="inner">
      <h3>New Asset</h3>
      <%= form_for Asset.new, :html => { :multipart => true } do |f| %>
        <div class="field">
          <%= f.label :asset, 'Choose a file or drag and drop' %>
          <%= f.file_field :asset, multiple: true, name: "asset[asset]" %>
        </div>
      <% end %>
      <div class="batch">
        <form id="batch-form">
            <%= render :partial => 'shared/asset-form' %>
        </form>
        <div class="asset-uploads"></div>
        <div class="field">
          <%= submit_tag 'Save and Close', :id => 'update-uploads' %>
        </div>
      </div>
    </div>
  </div>
  <script id="template-upload" type="text/x-tmpl">
  <div class="row">
    <header>
      <div class="image"></div>
      <div class="title">
        <div>{%= o.name %}</div>
        <div class="progress progress-striped active"><div class="bar" style="width: 0%;"></div></div>
      </div>
    </header>
    <form class="override">
      <%= render :partial => 'shared/asset-form' %>
    </form>
  </div>
  </script>
</body>
</html>
